:root {
  --point-color1: #007aff;
  --gray-400: #4e5968;
  --gray-500: #1a1a1a;
  --gray-600: #000;
}


#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 9999;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, .85);
  padding: 0 60px;
}
#header .inner {
  max-width: 2560px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
#header.fixed {
  border-bottom-color: #e5e8eb;
  backdrop-filter: blur(15px);
}

/* LOGO */
#header .logo {
  position: absolute;
  left: 0;
  top: 20px;
  width: 76px;
}
#header .logo a {
  display: block;
  height: 40px;
  background: url(../images/svg/logo.svg) no-repeat 50% 50%;
}

/* GNB */
#header .gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
}
#header .gnb > li {
  position: relative;
}
#header .gnb > li > a {
  display: block;
  line-height: 1;
  font-weight: 700;
  border-radius: 6px;
  padding: 12px 16px;
}
#header .gnb .arrow_down {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/blt_drop_black.png) no-repeat 0 0 / 100%;
  margin-left: 6px;
  vertical-align: 1px;
}
#header .gnb .arrow_down.on {
  transform: rotate(180deg);
}


/* INNER DEPTH2 */
#header .inner .depth2 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 800px;
  padding: 24px 20px 20px;
  border-radius: 6px;
  background: rgba(255, 255, 255, .98);
  box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 8px 20px rgba(0, 0, 0, .15);
  display: none;
}
#header .depth2 .top {
  display: flex;
  flex-wrap: wrap;
  gap: 0 48px;
  padding-bottom: 24px;
}
#header .depth2 .top .left,
#header .depth2 .top .right {
  width: 212px;
}
#header .depth2 .top .center {
  width: 240px;
}
#header .depth2 .top h3 {
  font-size: 12px;
  color: #8b95a1;
  padding-left: 8px;
  margin-bottom: 12px;
  line-height: 1.5;
}
#header .depth2 .top h3 ~ h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}
#header .depth2 .top a {
  display: flex;
  align-items: center;
  transition: background-color .1s ease 0s;
  border-radius: 6px;
  padding: 8px;
}
#header .depth2 .top a + a {
  margin-top: 8px;
}
#header .depth2 .top a img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  vertical-align: top;
}
#header .depth2 .top a dl {
  padding-left: 10px;
}
#header .depth2 .top a dt {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 8px;
}
#header .depth2 .top a dd {
  font-size: 12px;
  line-height: 1;
  color: #8b95a1;
}
#header .depth2 .bottom button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 67px;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #ff6746, #ff477e);
  border-radius: 10px;
  padding-left: 14px;
  border: none;
  line-height: 1.5;
}
#header .depth2 .bottom button img {
  width: 192.5px;
  vertical-align: top;
}
#header .depth2 .bottom button span {
  color: #fff;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
}
#header .depth2 .bottom button span em {
  font-size: 17px;
  font-weight: 700;
  padding-left: 12px;
}
#header .depth2 .bottom button span em::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url(../images/svg/icon_arrow_white.svg) no-repeat;
  margin-left: 8px;
  vertical-align: -1px;
}
#header .inner ul.depth2 {
  width: auto;
  border-radius: 6px;
  padding: 14px 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 8px 20px rgba(0, 0, 0, .15);
}
#header ul.depth2 li a {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1;
  padding: 10px 8px;
  white-space: nowrap;
}

/* 로그인 영역 */
#header .lnb_wrap {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#header .lnb_wrap .lnb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
#header .lnb_wrap img {
  width: 148px;
  height: 32px;
}
#header .lnb_wrap div {
  min-width: 92px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#header .lnb_wrap div.on:hover .mypage {
  display: block;
}
#header .login_btn {
  height: 36px;
  font-size: 13px;
  padding: 0 16px;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background: var(--gray-500);
  border: none;
}
#header .login_btn:hover {
  background: #484848;
}
#header .sub_menu_btn {
  display: none;
}
#header .sub_login_btn {
  display: none;
}
#header .mypage {
  position: absolute;
  top: 100%;
  right: 0;
  width: 135px;
  padding: 14px 12px;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, .98);
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 8px 20px rgba(0, 0, 0, .15);
  display: none;
}
#header .mypage li.line {
  width: 100%;
  height: 1px;
  background-color: #e5e8eb;
  margin: 4px 0;
}
#header .mypage a {
  display: block;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  padding: 10px 8px;
}
#header .mypage a:hover {
  background: rgba(139, 149, 161, .1);
}
#header .mypage img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: -2px;
}

/* 서브메뉴 */
#header .aside_wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #fff;
  overflow-y: auto;
  padding: 0 20px;
  display: none;
}
#header .aside_wrap .head {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
}
#header .aside_wrap .head .close_btn {
  margin-left: auto;
  margin-right: 2px;
  width: 30px;
  height: 32px;
  border: none;
  background: transparent url(../images/svg/close_btn.svg) no-repeat;
}
#header .aside_wrap .login_btn {
  height: 52px;
  font-size: 15px;
  width: 100%;
  margin: 12px 0 20px;
}
#header .aside_wrap .gnb {
  display: block;
}
#header .aside_wrap .gnb > li {
  border-bottom: 1px solid #f2f4f6;
}
#header .aside_wrap .gnb > li > a {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  padding: 24px 0;
}
#header .aside_wrap .depth2 {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}
#header .aside_wrap .depth2 .top {
  display: block;
}
#header .aside_wrap .depth2 .top div {
  width: auto;
}
#header .aside_wrap .depth2 .top div + div {
  margin-top: 20px;
}
#header .aside_wrap .depth2 .bottom a {
  height: 48px;
}
#header .aside_wrap .depth2 .bottom a strong {
  font-size: 14px;
}
#header .aside_wrap .depth2 .bottom a strong::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-left: 7px;
  background: url(../images/svg/download.svg) no-repeat;
  vertical-align: -1px;
}
#header .aside_wrap ul.depth2 {
  padding: 0;
  box-shadow: none;
}
#header .aside_wrap ul.depth2 a {
  font-size: 15px;
}
#header .sub_login_btn {
  display: block;
  position: relative;
  z-index: 10;
  height: 52px;
  font-size: 15px;
  padding: 0 24px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background: var(--gray-500);
  border: none;
  margin: 12px 0 20px;
}

/* 콘텐츠 */
#container {
  padding-top: 80px;
}
/* main_slider */
.main_slider {
  max-width: 2560px;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 28px;
  overflow: hidden;
  height: 600px;
  position: relative;
}
.main_slider .swiper {
  height: 100%;
}
.main_slider .swiper-slide .mo {
  display: none;
}
.main_slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_slider .txt_area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.main_slider .txt_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1120px;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0s;
}
.main_slider .txt_wrap.on {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}
.main_slider .txt_wrap h2 {
  font-size: 48px;
  letter-spacing: -2px;
  font-weight: 700;
  word-break: keep-all;
  line-height: 1.3;
}
.main_slider .txt_wrap p {
  line-height: 1.6;
  letter-spacing: -0.5px;
  margin-top: 20px;
}
.main_slider .txt_wrap a {
  display: flex;
  align-items: center;
  margin-top: 40px;
  height: 66px;
  font-size: 18px;
  padding: 0 36px;
  color: var(--gray-500);
  background: #fff;
  font-weight: 700;
  border-radius: 8px;
}
.main_slider .txt_wrap a::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/svg/icon_arrow_black_extra.svg) no-repeat;
  margin: 0 -8px 0 8px;
  vertical-align: -2px;
}
.main_slider .txt_wrap a:hover {
  background-color: rgba(255, 255, 255, .85);
}
.main_slider .btn_wrap {
  margin: 0 auto;
  max-width: 1120px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
}

/* swiper 컨트롤버튼 */
.main_slider .swiper-button-prev,
.main_slider .swiper-button-next { 
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: relative;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-top: 0;
  margin-right: 20px;
  border: 1px solid transparent;
}
.main_slider .swiper-button-prev:after,
.main_slider .swiper-button-next:after { 
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/svg/slide_arrow.svg) no-repeat 0 0 / 100%;
}
.main_slider .swiper .move_btn:hover {
  border: 1px solid #000;
}
.main_slider .swiper-button-next:after {
  transform: rotate(180deg);
}
.main_slider .swiper-button-next {
  margin-left: 20px;
  margin-right: 0;
}
.main_slider .swiper-pagination {
  position: static;
  width: auto;
  font-size: 12px;
  padding: 0 9px;
}
.main_slider .swiper-pagination span {
  display: inline-block;
  vertical-align: top;
  min-width: 15px;
  text-align: center;
}

.main_slider .swiper_play_btn {
  position: relative;
  width: 32px;
  height: 32px;
  background: url(../images/svg/pause_btn.svg) no-repeat 0 0 / 100%;
  border: none;
  z-index: 10;
}


/* main_card */
.main_card {
  max-width: 2560px;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 28px;
  padding: 36px 0;
}
.main_card h3 {
  display: none;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: -8px;
  line-height: 1;
}
.main_card .card_list {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.main_card .card_list > li {
  flex-basis: 100%;
}
.main_card .card_list > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 6.472%;
  border-radius: 16px;
  padding: 26px 0 28px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .08), 4px 12px 36px rgba(0, 0, 0, .09);
  transition: all .2s;
}
.main_card .card_list > li > a:hover {
  transform: translateY(-7px);
}
.main_card .card_list > li > a img {
  width: 44px;
  height: 44px;
  border-radius: 8px;
}
.main_card .card_list > li > a dl {
  flex-basis: 90px;
}
.main_card .card_list > li > a dt {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -.5px;
}
.main_card .card_list > li > a dt::after {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../images/svg/icon_arrow_black_regular.svg) no-repeat 0 0 / 100%;
  vertical-align: top;
}
.main_card .card_list > li > a dd {
  display: block;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: -.5px;
  color: rgba(26, 26, 26, .5);
  padding-top: 4px;
}

/* main_ad 공통 */
.main_ad .inner {
  max-width: 2560px;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background: url(../images/bg_adzero.png) no-repeat 50% 50% / cover;
}
.main_ad .inner.business {
  margin-top: 28px;
  background-image: url(../images/bg_business.png);
}
.main_ad .inner h3 {
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: -1px;
  font-weight: 700;
  word-break: keep-all;
  text-align: center;
}
.main_ad .inner.business h3 {
  color: #fff;
}
.main_ad .inner a {
  margin-top: 40px;
  height: 66px;
  font-size: 18px;
  font-weight: 700;
  line-height: 0;
  padding: 0 36px;
  display: flex;
  align-items: center;
  background: var(--gray-500);
  color: #fff;
  border-radius: 8px;
}
.main_ad .inner.business a {
  background: #fff;
  color: var(--gray-500);
}
.main_ad .inner a::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/svg/icon_arrow_white_large.svg) no-repeat;
  margin-left: 8px;
  margin-right: -8px;
}
.main_ad .inner.business a::after {
  background-image: url(../images/svg/icon_arrow_black_large.svg);
}
.main_ad .inner a:hover {
  background-color: #484848;
}
.main_ad .inner.business a:hover {
  background-color: rgba(255, 255, 255, .85);
}

/* main_product */
.main_product {
  max-width: 2560px;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}
.main_product .inner {
  max-width: 1120px;
  width: 100%;
  padding: 120px 0;
}
.main_product h3 {
  font-size: 36px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  letter-spacing: -.5px;
}
.main_product ul {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 20px;
  margin-top: 80px;
}
.main_product ul li {
  width: calc(25% - 15px);
}
.main_product ul li a {
  display: block;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .08), 4px 12px 36px rgba(0, 0, 0, .09);
  border-radius: 16px;
  overflow: hidden;
  transition: all .2s;
}
.main_product ul li a img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.main_product ul li a:hover {
  transform: translateY(-10px);
}
.main_product .txt_wrap {
  min-height: 240px;
  padding: 20px 20px 24px;
  position: relative;
}
.main_product .txt_wrap h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  gap: 0 10px;
  min-height: 44px;
}
.main_product .txt_wrap h4 img {
  width: 44px;
  height: 44px;
  border-radius: 8px;
}
.main_product .txt_wrap p {
  font-size: 13px;
  padding-top: 20px;
  line-height: 1.5;
}
.main_product .txt_wrap em {
  position: absolute;
  right: 20px;
  bottom: 24px;
  font-size: 13px;
  color: #08f;
  line-height: 1.5;
}
.main_product .txt_wrap em::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/svg/icon_arrow_blue.svg) no-repeat;
  margin-left: 2px;
  vertical-align: -2px;
}

/* main_promotion */
.main_promotion {
  max-width: 2560px;
  width: calc(100% - 80px);
  border-radius: 28px;
  margin: 28px auto 0;
  height: 360px;
}
.main_promotion .swiper {
  height: 100%;
  border-radius: 16px;
}
.main_promotion .swiper a {
  display: block;
  height: 100%;
  overflow: hidden;
}
.main_promotion .swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_promotion .swiper img.mo {
  display: none;
}
.main_promotion .swiper-button-prev,
.main_promotion .swiper-button-next { 
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 100%;
  margin-top: -24px;
}
.main_promotion .swiper-button-prev:after,
.main_promotion .swiper-button-next:after { 
  width: 18px;
  height: 18px;
  content: '';
  display: block;
  background: url(../images/svg/slide_arrow_bold.svg) no-repeat 0 0 / 100%;
}
.main_promotion .swiper-button-next:after {
  transform: rotate(180deg);
}
.main_promotion .swiper-button-prev {
  left: 40px;
}
.main_promotion .swiper-button-next {
  right: 40px;
}
.main_promotion .btn_wrap {
  position: relative;
  height: 0;
}
.main_promotion .swiper-pagination {
  width: auto;
  position: absolute;
  max-width: 1120px;
  bottom: 52px;
  left: 100px;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 100px;
  padding: 8px 10px;
}

/* main_tips */
.main_tips {
  max-width: 2560px;
  width: calc(100% - 80px);
  margin: 0 auto;
  margin-top: 28px;
}
.main_tips .inner {
  padding: 120px 0;
}
.main_tips h3 {
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: -.5px;
  font-weight: 700;
  word-break: keep-all;
  text-align: center;
}
.main_tips .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-top: 80px;
}
.main_tips .grid a {
  background: url(../images/bg_gridBox_1_3x.png) no-repeat 100% 100% / cover;
  min-height: 360px;
  overflow: hidden;
  border-radius: 28px;
  padding: 36px;
  transition: all .2s;
  position: relative;
}
.main_tips .grid a::after {
  content: '';
  position: absolute;
  top: 36px;
  right: 36px;
  width: 33px;
  height: 33px;
  background: url(../images/svg/icon_circle_arrow.svg) no-repeat 0 0 / 100% auto;
  transition: all .2s;
}
.main_tips .grid a:hover {
  transform: translateY(-10px);
}
.main_tips .grid a:hover::after {
  transform: translateX(10px);
}
.main_tips .grid a:nth-of-type(1) {
  grid-row: 1 / 3;
  padding: 80px 60px;
}
.main_tips .grid a:nth-of-type(2) {
  background-image: url(../images/bg_gridBox_2_3x.png);
}
.main_tips .grid a:nth-of-type(3) {
  background-image: url(../images/bg_gridBox_3_3x.png);
}
.main_tips .grid a:nth-of-type(4) {
  background-image: url(../images/bg_gridBox_4_3x.png);
}
.main_tips .grid a:nth-of-type(5) {
  background-image: url(../images/bg_gridBox_5_3x.png);
}
.main_tips .grid h4 {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 700;
  word-break: keep-all;
}
.main_tips .grid p {
  padding-top: 12px;
  font-size: 15px;
  line-height: 1.5;
}
.main_tips .grid a:nth-of-type(1) h4 {
  font-size: 32px;
  letter-spacing: -.5px;
}
.main_tips .grid a:nth-of-type(1) p {
  padding-top: 24px;
}

/* main_news */
.main_news {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg_news.png) no-repeat 50% 50% / cover;
  padding: 106px 20px 94px;
}
.main_news ul {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}
.main_news ul li {
  flex-basis: 360px;
}
.main_news ul li a {
  display: flex;
  align-items: center;
  gap: 0 28px;
  transition: all .2s ease 0s;
  overflow: hidden;
  height: 140px;
  background: #fff;
  border-radius: 16px;
  padding: 0 40px 0 52px;
  line-height: 1.5;
}
.main_news ul li a:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, .08), 4px 12px 36px rgba(0, 0, 0, .09);
}
.main_news ul li a img {
  width: 40px;
  height: 40px;
}
.main_news ul li a p {
  color: #4e5968;
  white-space: nowrap;
  line-height: 1.4;
}
.main_news ul li a p strong {
  display: block;
  color: var(--gray-500);
  font-weight: 600;
  margin-top: 10px;
  line-height: 1;
}
.main_news ul li a p strong::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/svg/icon_arrow_black_large.svg) no-repeat;
  margin-left: 2px;
  vertical-align: -2px;
}

/* footer */
#footer .top {
  background: rgba(245, 246, 247, .75);
}
#footer .top .inner {
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}
#footer .top .inner h4 {
  padding-bottom: 4px;
  line-height: 1.9;
}
#footer .top .inner h4 a {
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  padding: 8px 10px;
}
#footer .top .map_inner {
  display: flex;
  gap: 0 60px;
}
#footer .top .map_inner li {
  margin-top: 4px;
}
#footer .top .map_inner li a {
  display: inline-block;
  font-size: 15px;
  color: #8b95a1;
  border-radius: 4px;
  padding: 8px 10px;
  line-height: 1;
}
#footer .bottom .inner {
  margin: 0 auto;
  max-width: 1120px;
  padding: 24px 0 36px;
  position: relative;
}
#footer .bottom .footer_nav {
  display: flex;
  align-items: center;
  gap: 0 12px;
  flex-wrap: wrap;
  margin-left: -10px;
}
#footer .bottom .footer_nav a {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #8b95a1;
  border-radius: 4px;
  padding: 10px 10px 9px;
  line-height: 1;
}
#footer .bottom .footer_nav a strong {
  color: #4e5968;
  font-weight: 700;
}
#footer .bottom .social {
  display: flex;
  align-items: center;
  margin-top: 36px;
}
#footer .bottom .social h1 a {
  display: block;
  width: 64px;
  height: 18px;
  background: url(../images/spr_logo_estsoft.png) no-repeat 0 0 / 64px auto;
}
#footer .bottom .social h1 a:hover {
  background-position-y: -18px;
}
#footer .bottom .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
  margin-left: 32px;
}
#footer .bottom .social ul li a {
  width: 28px;
  height: 28px;
  display: block;
  background: url(../images/spr_footer_icon.png) no-repeat 0 0 / 84px auto;
}
#footer .bottom .social  ul li a.facebook {
  background-position-x: -28px;
}
#footer .bottom .social  ul li a.mail {
  background-position-x: -56px;
}
#footer .bottom .social ul li a:hover {
  background-position-y: -28px;
}
#footer .bottom .address {
  margin-top: 16px;
}
#footer .bottom .address address {
  font-size: 13px;
  line-height: 1.55;
  color: #8b95a1;
}
#footer .bottom .address .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
}
#footer .bottom .address .info dl {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1.55;
  color: #8b95a1;
}
#footer .bottom .address .info dl dd {
  padding-left: 4px;
}
#footer .bottom .address .mail {
  transition: all .2s;
  color: #08f;
}
#footer .bottom .address .mail:hover {
  color: #0064d9;
}
#footer .bottom .select_box {
  position: absolute;
  right: 0;
  top: 24px;
}
#footer .bottom .select_box .family_wrap {
  display: inline-block;
  position: relative;
}
#footer .bottom .select_box .select_btn {
  border: none;
  background: transparent;
  font-size: 13px;
  font-weight: 600;
  color: #8b95a1;
  border-radius: 4px;
  padding: 8px 10px;
  line-height: 1;
}
#footer .bottom .select_box .select_btn::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background: url(../images/svg/icon_plus.svg) no-repeat;
  vertical-align: -1px;
}
#footer .bottom .select_box .select_btn:hover {
  background-color: rgba(139, 149, 161, .1);
}
#footer .bottom .select_box ul {
  position: absolute;
  right: 0;
  bottom: 30px;
  background: rgba(255, 255, 255, .98);
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 8px 20px rgba(0, 0, 0, .15);
  padding: 12px;
  display: none;
}
#footer .bottom .select_box ul a {
  display: block;
  padding: 8px;
  border-radius: 4px;
  color: #4e5968;
  font-weight: 600;
  font-size: 13px;
  white-space: nowrap;
  line-height: 1;
}
#footer a:hover {
  background-color: rgba(139, 149, 161, .1);
}


@media (max-width:1400px) {
  .main_slider .txt_wrap {
    padding: 0 40px;
  }
  .main_slider .btn_wrap {
    padding: 0 40px;
  }

  .main_card .card_list > li > a {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  .main_card .card_list > li > a dl {
    flex-basis: auto;
  }
  .main_card .card_list > li > a dt {
    font-size: 12px;
  }
  .main_card .card_list > li > a dt::after {
    width: 10px;
    height: 10px;
    vertical-align: -1px;
    margin-right: -4px;
  }
  .main_card .card_list > li > a dd {
    display: none;
  }
}


@media (min-width:1201px) {
  #header .gnb > li:hover .depth2 {
    display: block;
  }
  #header .gnb_wrap a:hover {
    background: rgba(139, 149, 161, .1);
  }
}


/* 태블릿 */
@media (max-width:1200px) {
  /* 헤더에 on클래스가 포함되어 있다면 스크롤 없애기 */
  body:has(#header.on){
    overflow: hidden;
  }

  #header {
    padding: 0 20px;
    height: 60px;
  }
  #header .inner .gnb_wrap {
    display: none;
  }
  #header .logo {
    top: 10px;
  }

  /* lnb */
  #header.on .lnb_wrap li:nth-of-type(1) {
    display: none;
  }
  #header .lnb_wrap img {
    width: 130px;
    height: 28px;
  }
  #header .lnb_wrap div {
    display: none;
  }
  #header .lnb_wrap .sub_menu_btn {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url(../images/svg/icon_ham.svg) no-repeat;
  }

  /* 서브메뉴 */
  #header.on .aside_wrap {
    display: block;
    scrollbar-width: none;
  }
  #header .aside_wrap .gnb > li.on .arrow_down {
    transform: rotate(180deg);
  }
  #header .aside_wrap .gnb > li.on .depth2 {
    max-height: 1000px;
    padding-bottom: 20px;
  }
  #header.on .aside_wrap .gnb {
    padding-bottom: 60px;
  }
  #header.on .aside_wrap h3 {
    line-height: 1;
    margin-bottom: 8px;
    padding: 0 10px;
  }
  #header .aside_wrap .top {
    padding-bottom: 20px;
  }
  #header .aside_wrap .bottom button {
    height: 48px;
    padding-left: 0;
  }
  #header .aside_wrap .bottom button span em {
    font-size: 14px;
  }
  
  /* 콘텐츠 */
  #container {
    padding-top: 60px;
  }

  /* main slider */
  .main_slider {
    height: 480px;
    border-radius: 16px;
    width: calc(100% - 40px);
  }
  .main_slider .swiper-slide .pc {
    display: none;
  }
  .main_slider .swiper-slide .mo {
    display: inline-block;
  }
  .main_slider .txt_wrap {
    align-items: center;
    justify-content: flex-start;
    padding: 48px 20px 0;
    text-align: center;
  }
  .main_slider .txt_wrap h2 {
    font-size: 24px;
    letter-spacing: -.5px;
    font-weight: 700;
    word-break: keep-all;
    line-height: 1.3;
  }
  .main_slider .txt_wrap p {
    font-size: 15px;
    margin-top: 12px;
  }
  .main_slider .txt_wrap a {
    height: 52px;
    margin-top: 20px;
    font-size: 16px;
    padding: 0 24px;
  }
  .main_slider .swiper .btn_wrap{
    left: 0;
    bottom: 12px;
    justify-content: center;
    padding: 0;
  }

  /* card_wrap */
  .main_card {
    width: calc(100%);
    padding-bottom: 0;
  }
  .main_card h3 {
    display: block;
    margin-left: 20px;
  }
  @keyframes moveCardList {
    50% {
      transform: translateX(-50px);
    }
  }
  .main_card .card_list {
    overflow-x: auto;
    justify-content: space-between;
    padding: 20px 20px 36px;
    animation: moveCardList .7s;
    transform: translateX(0);
  }
  .main_card .card_list > li {
    min-width: 100px;
    flex-basis: 100px;
  }
  .main_card .card_list > li > a:hover {
    transform: none;
  }

  /* ad_wrap */
  .main_ad .inner {
    height: 400px;
    width: calc(100% - 40px);
    background-image: url(../images/m_bg_adzero.png);
  }
  .main_ad .inner.business {
    margin-top: 16px;
    background-image: url(../images/m_bg_business.png);
  }
  .main_ad .inner h3 {
    font-size: 24px;
  }
  .main_ad .inner a {
    margin-top: 20px;
  }

  /* product */
  .main_product {
    width: calc(100% - 40px);
    margin-top: 16px;
  }
  .main_product .inner {
    padding: 60px 0;
  }
  .main_product h3 {
    font-size: 24px;
    line-height: 1.5;
  }
  .main_product ul {
    gap: 40px 20px;
    margin-top: 60px;
  }
  .main_product ul li {
    width: calc(50% - 10px);
  }
  .main_product ul li a:hover {
    transform: none;
  }
  .main_product .txt_wrap {
    min-height: auto;
  }
  .main_product .txt_wrap h4 img {
    width: 36px;
    height: 36px;
  }
  .main_product .txt_wrap p {
    padding-top: 12px;
    font-size: 14px;
  }
  .main_product .txt_wrap em {
    position: static;
    display: block;
    margin-top: 12px;
    padding-top: 12px;
    text-align: right;
  }

  /* promotion */
  .main_promotion {
    width: calc(100% - 40px);
    margin-top: 16px;
    height: 100%;
  }
  .main_promotion .swiper a {
    border-radius: 16px;
  }
  .main_promotion .btn_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .main_promotion .swiper-pagination {
    left: 24px;
    bottom: 24px;
    position: static;
    display: block;
    padding-top: 20px;
    height: 100%;
    background: none;
  }
  .main_promotion .swiper-pagination span {
    display: inline-block;
    margin: 0 4px;
    background: rgba(26, 26, 26, .5);
  }
  /* 스와이퍼 네비게이션 커스텀 */
  .main_promotion .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    background: rgba(26, 26, 26, .8);
    border-radius: 20px;
  }
  .main_promotion .swiper img.mo {
    display: inline-block;
  }
  .main_promotion .swiper img.pc {
    display: none;
  }

  /* grid */
  .main_tips {
    margin-top: 16px;
    width: calc(100% - 40px);
  }
  .main_tips .inner {
    padding: 80px 0;
  }
  .main_tips h3 {
    font-size: 24px;
    line-height: 1.5;
  }
  .main_tips .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
    margin-top: 40px;
  }
  .main_tips .grid a {
    width: 100%;
    padding: 20px 24px;
    min-height: 220px;
    border-radius: 16px;
  }
  .main_tips .grid a:hover {
    transform: none;
  }
  .main_tips .grid a:nth-of-type(1) {
    min-height: 360px;
    padding: 20px;
  }
  .main_tips .grid a:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../images/bg_gridBox_2_3x.png);
  }
  .main_tips .grid a:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(../images/bg_gridBox_3_3x.png);
  }
  .main_tips .grid a:nth-of-type(4) {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(../images/bg_gridBox_4_3x.png);
  }
  .main_tips .grid a:nth-of-type(5) {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url(../images/bg_gridBox_5_3x.png);
  }
  .main_tips .grid a:nth-of-type(1) h4 {
    font-size: 20px;
    letter-spacing: 0;
  }
  .main_tips .grid a h4 {
    padding-right: 40px;
  }
  .main_tips .grid a:nth-of-type(1) h4 br {
    display: none;
  }
  .main_tips .grid a:nth-of-type(1) p {
    padding-top: 12px;
  }

  /* news */
  .main_news {
    padding: 100px 20px;
    background-image: url(../images/m_bg_news.png);
  }
  .main_news ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px 0;
    width: 100%;
  }
  .main_news ul li {
    width: 100%;
    flex-basis: 100%;
  }
  .main_news ul li a {
    min-width: 290px;
    height: 100px;
    padding: 0 24px;
    gap: 0 24px;
  }
  .main_news ul li a p span {
    line-height: 1;
  }
  .main_news ul li a p strong {
    margin-top: 6px;
    line-height: 1;
  }

  /* footer */
  #footer .top {
    display: none;
  }
  #footer .bottom .inner {
    padding: 40px 20px 20px;
  }
  #footer .bottom .select_box {
    position: static;
    margin-left: -10px;
    padding-top: 16px;
  }
  #footer .bottom .select_box ul {
    right: auto;
    left: 0;
  }
  #footer .bottom .footer_nav {
    margin-left: -10px;
  }

  
}

/* 모바일 */
@media (max-width:767px) {
  .main_ad .inner a {
    height: 52px;
    font-size: 15px;
    padding: 0 24px;
  }

  .main_product ul {
    gap: 16px 0;
  }
  .main_product ul li {
    width: 100%;
  }

  .main_tips .grid a::after {
    width: 26px;
    height: 26px;
    top: 20px;
    right: 20px;
  }
}

/* 스와이퍼 대응 */
@media (max-width: 575px) {
  .main_promotion .swiper-pagination {
    position: absolute;
    max-width: 1120px;
    min-height: 29px;
    left: 24px;
    bottom: 24px;
    background-color: rgba(0, 0, 0, .1);
    padding: 8px 10px;
  }
  .main_promotion .swiper-pagination span {
    display: inline;
    margin: 0;
    background: none;
  }
}